# ===== NODE MODULES =====
node_modules/
*/node_modules/

# ===== ARCHIVOS SENSIBLES =====
.env
**/.env
README1.md

# ===== BASES DE DATOS =====
*.sql
db_*.sql
db_facturas_backup.sql
uploads/

# ===== ANGULAR =====
frontend/dist/
frontend/.angular/
frontend/.angular/cache/
frontend/.angular/config.json
frontend/.angular/local/

# ===== LOGS =====
*.log
logs/
npm-debug.log*

# ===== SISTEMA =====
.DS_Store
Thumbs.db

# ===== IDEs =====
.idea/
.vscode/
*.code-workspace